.col-center {
  justify-content: space-around;
}

.center {
  align-items: center;
}

.vertical-center {
  text-align: center;
}

.container {
  margin-bottom: 50px;
}

#portfolio {
  background-color: #e9ecef;
}

.row img {

}

a {
  color: black;
}
